<!--<div class="product-block" ng-repeat="product in products" style="width:400px; height: 400px; padding: 20px; background: #7926c1;">
          <h4></h4>

                <div class="card text-xs-center">  <img ng-src="{{product.image}}" style="width:250px; height: 200px; background: #080808"/>
                
                    <h5 class="card-title"> {{product.name}}</h5>
                  <p class="card-text price">R {{product.price}}</p>
                
                  <button class="btn btn-success" ng-click="addToCart(product)" >Add to Cart</button> </div>
             
            </div>
    -->   
